.button-container {
    display: flex;
    gap: 10px;
  }
  
  .blue-button {
    background-color: #7a99ee;
    color: white;
    border: none;
    padding: 2px 5px;
    border-radius: 20px; 
  }
  
  .gray-button {
    background-color: rgb(151, 151, 151);
    color: white;
    border: none;
    padding: 2px 5px;
    border-radius: 20px; 
  }
  